[client]
# MySQL5.6 #
# CLIENT #
port                            = 3306
socket                          = /tmp/mysql.sock
default-character-set           = utf8

[mysqld]
# GENERAL #
user                            = mysql
default-storage-engine          = InnoDB
socket                          = /tmp/mysql.sock
port                            = 3306
pid-file                        = /home/mysql/data/mysqld.pid
skip-external-locking
character_set_server            = utf8
event_scheduler                 = 1
explicit_defaults_for_timestamp = 1
#lower_case_table_names         = 1

# MyISAM #
key-buffer-size                 = 16M
myisam_sort_buffer_size         = 32M
myisam_max_sort_file_size       = 1G
#myisam_max_extra_sort_file_size = 10G
myisam_repair_threads           = 1
myisam-recover-options

# SAFETY #
max-allowed-packet              = 16M
max-connect-errors              = 1000000
skip-name-resolve
sql-mode                        = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_AUTO_VALUE_ON_ZERO,NO_ENGINE_SUBSTITUTION,ONLY_FULL_GROUP_BY
sysdate-is-now                  = 1
innodb                          = FORCE
innodb-strict-mode              = 1

# DATA STORAGE #
datadir                         = /home/mysql/data/
basedir                         = /usr/local/mysql/

# BINARY LOGGING #
log-bin                         = mysql-bin
expire-logs-days                = 7
sync-binlog                     = 0
binlog_format                   = row
binlog_cache_size               = 4M
#max_binlog_cache_size          = 128M
max_binlog_size                 = 256M
transaction_isolation          = READ-COMMITTED

# # REPLICATION #
skip-slave-start                = 1
log-slave-updates               = 1
relay-log                       = /home/mysql/data/relay-bin
slave-net-timeout               = 60
# sync-master-info              = 1
# sync-relay-log                = 1
# sync-relay-log-info           = 1
# auto_increment_offset         = 1
# auto_increment_increment      = 2
master-info-repository          = TABLE
relay-log-info-repository       = TABLE
relay_log_recovery              = ON

server-id                       = 132
# slave-skip-errors             = all
replicate-ignore-db             = mysql
replicate-wild-ignore-table     = mysql.%
replicate-ignore-db             = test
replicate-wild-ignore-table     = test.%
report-host                     = 192.16.10.132

 # CACHES AND LIMITS #
back_log                        = 256
tmp-table-size                  = 32M
max-heap-table-size             = 64M
query-cache-type                = 0
query-cache-size                = 0
max-connections                 = 5000
thread-cache-size               = 256
open-files-limit                = 65535
table-definition-cache          = 4096
table-open-cache                = 2048

sort_buffer_size                = 2M
join_buffer_size                = 2M
read_buffer_size                = 1M
read_rnd_buffer_size            = 1M
bulk_insert_buffer_size         = 32M


 # INNODB #
innodb_data_file_path           = ibdata1:1G:autoextend
innodb_flush_method             = O_DIRECT
innodb_log_group_home_dir       = /home/mysql/data/
innodb_log_files_in_group       = 2
innodb_log_file_size            = 256M
innodb_flush_log_at_trx_commit  = 2
innodb_file_per_table           = 1
innodb_buffer_pool_size         = 4G
innodb_file_format              = Barracuda
innodb_file_format_max          = Barracuda
innodb_status_file              = 1
innodb_io_capacity              = 200
innodb_thread_concurrency       = 0
innodb_max_dirty_pages_pct      = 50
innodb_lock_wait_timeout        = 120
# #innodb_support_xa            = 0

 # LOGGING #
log-error                       = /home/mysql/data/mysql-error.log
#log-queries-not-using-indexes  = 1
slow-query-log                  = 1
long_query_time                 = 1
#log-output                     = table
slow-query-log-file             = /home/mysql/data/slow-query.log

[mysqld_safe]
malloc-lib                      = /usr/local/lib/libjemalloc.so

[mysqldump]
quick
max_allowed_packet = 64M

[mysql]
prompt                          = '(product)\u@\h [\d]> '
no-auto-rehash
socket                          = /tmp/mysql.sock
port                            = 3306
default_character_set           = utf8
# #safe-updates

[myisamchk]
key_buffer_size = 256M
sort_buffer_size = 256M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout